<!DOCTYPE html>
<html lang="uz">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Xatolik</title>
  <link rel="icon" href="data:," />
  <link rel="stylesheet" href="/static/css/error.css" />
</head>

<body>
  <div class="error-card">
    <div class="image-wrap">
      <img src="/static/images/error.jpg" alt="Xatolik rasmi">
    </div>

    <div class="badge">Xatolik yuz berdi</div>

    <h1 class="title">Nimadir noto‘g‘ri ketdi</h1>
    <p class="message">{{ message }}</p>
  </div>
  </div>
</body>

</html>